.a{
    background-color: red;

    vertical-align: middle;

    height: 30%;

    position: absolute;

    position: relative;
    right: 0;

    flex-direction: column;
    
    align-items: flex-end;

    display: inline-flex;

    justify-content: center;
    align-items: center;

    position: relative;

    display: flex;

    justify-content: flex-end;
    
    
}